


<div id="test"></div>


<div id="background"></div>
    <main>
        <button class="button-back"></button>
        <app-music-banner></app-music-banner>
        <button class="button-nav"> </button>
        <app-music-seeker></app-music-seeker>
        <span class="time"></span>
        <app-music-list-container></app-music-list-container>

        <!--<div class="button-control-row">
            <button class="button-last"></button>
            <button class="button-play"></button>
            <button class="button-next"></button>
        </div>-->
        <app-music-controls></app-music-controls>
    </main>